:root{
    --color-background:  #262626;
}

body{
    background-color: var(--color-background);
    color:white;
    margin: 200px 17% 200px 17%;
    font-family: Arial, Helvetica, sans-serif;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 200px;
}
.intro img{
    border-radius: 50%;
    width: 30%;
}
.bio {
    height: 22vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 65%;
}
.name{
    font-size: 5vw;
    color: white;
}
.position{
    font-style: italic;
    font-size: 1.5vw;
}
.description{
    font-size: 1.8vw;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: justify;
}

.divider {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: white;
    width: 100%;
    height: 1px;
}

.social-container{
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.social-container i{
    transform: scale(3,3);
    color: white;
    margin-top: 20px;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(3, 33.333333%);
    grid-template-areas: 
    "crossbar       crossbar    fordworks3D"
    "frankendelta   piano       piano"
    "frankendelta   elks           .";
}
.project{
    margin: 1px;
    
}
.project img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;  
    background-color: white; 
}
.crossbar{
    grid-area: crossbar;
}
.piano{
    grid-area: piano;
}
.frankendelta{
    grid-area: frankendelta;
}
.fordworks3D{
    grid-area: fordworks3D;
}
.fordworks3D img{
    object-fit: contain;
    background-color: white;
}
.elks{
    grid-area: elks;
}
.elks img{
    object-fit: contain;
    background-color: white;
}